
/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {
    
    
    header, nav, main, footer {
        max-width: 1024;
        margin: 0 auto;
    }
    
main, footer{
    max-width: 70rem;
    align-content: center;
}

    nav ul li {
        flex-basis: auto;
        -ms-flex: 0 0 auto;
    }
    
    nav ul li a {padding: .5rem 1rem;}
} /*end large */