
/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {
nav, main {
    max-width: 1200px;
    margin: auto;
}    

img.logo {
    padding-left: 1rem;
    width: 150px;
}
header h1 {
    font-size: 3rem;
}
header h2 {
    font-size: 2rem;
}

.navWrapper {
    max-width: 70rem;
    align-content: center;
    margin: 0 auto;
    font-size: 1.8rem;
}


main {
    max-width: 70rem;
    align-content: center;
    margin: 0 auto;
}
footer {
    max-width: 70rem;
    align-content: center;
    margin: 0 auto;
    font-size: 1.4rem;
}

    nav ul li {
        flex-basis: auto;
        -ms-flex: 0 0 auto;
    }
    
    nav ul li a {padding: .5rem 1rem;}
} /*end large */