@media only screen and (min-width:500px){

h1 { font-size: 2rem;}
h2 { font-size: 1.5rem;}
h3 { font-size: 1.5rem;}
p { font-size: 1.5rem;}
a { font-size: 1.5rem;}
li {font-size: 1.5rem;}

body {
    max-width: 100%;
}

    
nav ul {
    grid-template-columns: repeat(5, 1fr);
    display: flex;
    margin: 0; 
    padding: 0;}
    
    nav ul li {
        flex: 1 1 100%;
        list-style-type: none;
        font-size: 1.5rem;
    }

}/*end of media queries*/